<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Watch List</h1>
    <p>Save any kind of movies</p>
  </div>
</div>


<div class="cards">
  <ul>
    <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
            <%= link_to list_path(list.id) do %>
                <li><%= list.name %></li>
            <% end %>
        </div>
    <% end %>
  </ul>
</div>


<%= link_to "New", new_list_path %>
